#enemy-map, #enemy-map > .cell {
  border: 1px solid var(--red);
}

#enemy-map>.cell.ship-hit {
  background: var(--red-hit);
}

.enemy-highlight {
  background: var(--maroon);
  opacity: 0.5;
}

#enemy-map>.cell>.attacked {
  background: var(--maroon);
}
