html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  box-sizing: border-box;
  overflow: hidden;
}

#wrapper {
  height: 100vh;
  width: 100vw;
  color: var(--text);
  background-color: var(--mantle);
  overflow: hidden;
}

#title-header {
  font-size: 4vh;
  font-weight: 700;
  width: fit-content;
  margin: 3vh auto 1vh;
}

#container {
  height: 100vh;
  width: 100vw;
  display: flex;
  gap: 10px;
}

#gameboard-container {
  flex: 5;
  margin: auto 25px auto auto;
  display: flex;
  justify-content: flex-end;
}

#sidebar-grid {
  flex: 2;
  display: grid;
  grid-template: repeat(20, 1fr) / repeat(5, 1fr);
}


.board {
  min-width: 200px;
  width: 100%;
  max-width: 550px;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template: repeat(10, 1fr)/ repeat(10, 1fr);
  border-radius: 10px;
  margin-inline: 5%;
}

.board>.cell>.attacked {
  width: 75%;
  height: 75%;
  margin: 12.5% auto;
  border-radius: 50%;
}

.cell {
  position: relative;
  padding: 5px;
}


.board>.cell.ship-hit::before, .board>.cell.ship-hit::after {
  content: "";
  position: absolute;
  height: 142%;
  width: 142%;
}

.board>.cell.ship-hit::before {
  border-left: 2px solid white;
  transform: rotate(45deg);
  left: 27.5%;
  top: 30%;
}
.board>.cell.ship-hit::after {
  border-right: 2px solid white;
  transform: rotate(-45deg);
  right: 27%;
  top: 30%;
}

.btn {
  width: fit-content;
  color: var(--text);
  background-color: var(--overlay2);
  border: 1px solid var(--red);
  border-radius: 10px;
  padding: 0.5vh 1vw;
  outline: none;
  transition: all, 250ms;
}

.btn:hover  {
  scale: 1.1;
  background-color: var(--background-highlight);
  cursor: pointer;
}

.btn:focus {
  scale: 1.1;
}

.disabled {
  pointer-events: none;
}
