* {
  box-sizing: border-box;
}

body {
  background: var(--mantle);
  color: var(--text);
  overflow: hidden;
}

h1 {
  font-size: 5rem;
}

#title-header {
  width: fit-content;
  margin: 30px auto 10px;
}

#container {
  width: 90vw;
  height: 90vh;
  display: flex;
  margin: auto 25px auto auto;
}

#gameboard-container, #stats-container {
  display: flex;
  justify-content: space-evenly;
}

#gameboard-container {
  flex-basis: 75%;
  height: 70%;
  margin: clamp(50px, 5%, 100px) auto 50px 10px;
}

.board {
  width: clamp(380px, 40%, 520px);
  height: clamp(380px, 65%, 520px);
  display: grid;
  grid-template: repeat(10, 1fr)/ repeat(10, 1fr);
  margin: auto 25px;
  border-radius: 10px;
  overflow: hidden;
}

#player-map, #player-map > .cell {
  border: 1px solid var(--mauve);
}

#enemy-map, #enemy-map > .cell {
  border: 1px solid var(--maroon);
}

.cell {
  background: transparent;
  padding: 5px;
}

.btn {
  width: 100px;
  color: var(--text);
  background-color: var(--overlay2);
  border: 1px solid var(--red);
  border-radius: 10px;
  padding: 10px;
  outline: none;
  transition: all, 250ms;
}

.btn:hover  {
  scale: 1.1;
  background-color: var(--background-highlight);
  cursor: pointer;
}

.btn:focus {
  scale: 1.1;
}
