@media (max-width: 900px) {
  * {
    overflow: hidden;
    box-sizing: border-box;
  }

  #title-header {
    font-size: 3rem;
    margin: 15px auto 5px;
  }

  #container {
    height: calc(100vh - (3rem + 20px));
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  #gameboard-container {
    width: calc(100% - 5px);
    height: calc(60vh - (3rem + 20px));
    margin: auto auto 5px;
    order: 2;
    justify-content: center;
    flex-direction: column;
    transition: all, 2s;
  }  
  #gameboard-container.mobile.game {
    height: calc(75vh - (3rem + 20px));
  }

  .board {
    position: relative;
    min-width: 33vw;
    min-height: 33vw;
    max-width: 85vw;
    max-height: 85vw;
    overflow: hidden;
    margin: auto auto 15px;
    transition: all, 2s;
  }

  #player-map {
    flex: 1;
    /* flex-basis: 95%; */
    top: 0;
    right: 0;
  }
  #player-map.mobile.game {
    /* flex-basis: 35%; */
    width: 50vw;
    height: 50vw;
    margin-right: 5px;
  }

  #enemy-map {
    bottom: -65vh;
    flex-basis: 5%;
    margin-top: 0;
    visibility: hidden;
  }
  #enemy-map.mobile.game {
    flex-basis: 65%;
    width: 80vw;
    margin-top: 0;
    visibility: visible;
    transform: translateY(-65vh);
  }

  #sidebar-grid {
    width: calc(100% - 5px);
    height: calc(25vh - (3rem + 20px));
    margin: 5px auto auto;  
    display: block;
  }

  #ship-overlay-header, .overlay-ship-text {
    display: none;
  }

  .btn {
    font-size: 1rem;
    width: 20vw;
  }

  #ship-placement-overlay {
    position: absolute;
    width: calc(100vw - 10px);
    height: 35vh;
    inset: -35vh 5px auto 5px;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  }

  #ship-placement-overlay.visible {
    transform: translate(0, calc(35vh + 65px));
  }

  #ship-axis-div {
    grid-area: 1 / 4 / 3 / 8;
    margin: 0;
  }

  #ship-overlay-ship-container {
    position: relative;
    top: 5%;
    grid-area: 2 / 1 / 9 / 11;
    width: 95%;
    margin: auto;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  }
  
  .overlay-ship {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    gap: 0;
  }

  .overlay-ship:nth-of-type(1) {
    grid-area: 2 / 4 / 4 / 8;
  }
  .overlay-ship:nth-of-type(2) {
    grid-area: 5 / 1 / 7 / 5;
    left: 10px;
  }
  .overlay-ship:nth-of-type(3) {
    grid-area: 5 / 7 / 7 / 11;
    right: 10px;
  }
  .overlay-ship:nth-of-type(4) {
    grid-area: 8 / 1 / 10 / 5;
    left: 10px;
  }
  .overlay-ship:nth-of-type(5) {
    grid-area: 8 / 7 / 10 / 11;
    right: 10px;
  }

  .temp-ship-img {
    display: block;
    width: 100%;
    height: 100%;
  }

  #placer-btn {
    grid-area: 10 / 5 / 11 / 7;
    position: relative;
    bottom: 10px;
    margin: 0;
  }

  .stats-board {
    position: absolute;
  }
}
