@media (max-width: 900px) {
  * {
    overflow: hidden;
    box-sizing: border-box;
  }

  #title-header {
    font-size: 3rem;
    margin: 15px auto 5px;
  }

  #sidebar-grid > *:not(#ship-placement-overlay) {
    display: none;
  }

  #container {
    height: calc(100vh - (3rem + 20px));
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  #gameboard-container {
    display: block;
    width: calc(100% - 5px);
    height: calc(55vh - (3rem + 20px));
    margin: auto auto 5px;
    order: 2;
  }

  #gameboard-container.mobile.game {
    display: flex;
    height: calc(75vh - (3rem + 20px));
    order: 2;
    justify-content: center;
    flex-direction: column;
  }

  .board {
    position: relative;
    min-width: 33vw;
    overflow: hidden;
    margin: auto auto 15px;
    transition: all, 2s;
  }

  #player-map {
    top: 0;
    right: 0;
    width: 85%;
    margin-top: 0;
  }

  #player-map.mobile.game {
    width: 25%;
    margin-right: 15px;
  }

  #enemy-map {
    width: 85%;
    margin-top: 0;
    visibility: hidden;
    bottom: -33vh;
  }

  #enemy-map.mobile.game {
    visibility: visible;
    transform: translateY(-33vh);
  }

  #sidebar-grid {
    width: calc(100% - 5px);
    height: calc(25vh - (3rem + 20px));
    margin: 5px auto auto;  
    display: block;
  }

  #ship-overlay-header, .overlay-ship-text {
    display: none;
  }

  .btn {
    font-size: 1rem;
    width: 20vw;
  }

  #ship-placement-overlay {
    position: absolute;
    width: calc(100vw - 10px);
    height: 35vh;
    inset: -35vh 5px auto 5px;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  }

  #ship-placement-overlay.visible {
    transform: translate(0, calc(35vh + 65px));
  }

  #ship-axis-div {
    grid-area: 1 / 4 / 3 / 8;
    margin: 0;
  }

  #ship-overlay-ship-container {
    position: relative;
    top: 5%;
    grid-area: 2 / 1 / 9 / 11;
    width: 95%;
    margin: auto;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  }
  
  .overlay-ship {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    gap: 0;
  }

  .overlay-ship:nth-of-type(1) {
    grid-area: 2 / 4 / 4 / 8;
  }
  .overlay-ship:nth-of-type(2) {
    grid-area: 5 / 1 / 7 / 5;
    left: 10px;
  }
  .overlay-ship:nth-of-type(3) {
    grid-area: 5 / 7 / 7 / 11;
    right: 10px;
  }
  .overlay-ship:nth-of-type(4) {
    grid-area: 8 / 1 / 10 / 5;
    left: 10px;
  }
  .overlay-ship:nth-of-type(5) {
    grid-area: 8 / 7 / 10 / 11;
    right: 10px;
  }

  .temp-ship-img {
    display: block;
    width: 100%;
    height: 100%;
  }

  #placer-btn {
    grid-area: 10 / 5 / 11 / 7;
    position: relative;
    bottom: 10px;
    margin: 0;
  }


}
