#ship-placement-overlay {
  max-height: 750px;
  min-height: 350px;
  max-width: 450px;
  grid-area: 5 / 1 / 17 / 6;
  position: relative;
  left: 100%;
  transition: all, 2s;
  visibility: hidden;
  border-radius: 10px 0 0 10px;
  background: var(--overlay1);
  text-align: center;
}

#ship-placement-overlay.visible {
  transform: translateX(-100%);
  visibility: visible;
}

#ship-overlay-header {
  font-size: clamp(1.75rem, 2.5vw, 3.6rem);
  font-weight: 700;
  margin: 2vh auto 1vh;
}

#ship-axis-div {
  width: 50%;
  margin: 3vh auto 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(10px, 1vw, 30px);
  overflow: visible;
}

#ship-axis-header {
  flex: 1;
  font-size: clamp(1.2rem, 1.5vw, 2.4rem);
  font-weight: 600;
}

#axis-selected-btn {
  flex: 3;
  padding: 0;
  position: relative;
  overflow: visible;
  z-index: 1;
}

#axis-selected-btn:focus {
  border-radius: 10px 10px 0 0;
}

#axis-selected, .axis-drop-down-item {
  font-weight: 400;
  height: clamp(25px, 2vh, 50px);
  line-height: 2;
}

#axis-drop-down-list {
  visibility: hidden;
  position: absolute;
  height: fit-content;
  width: calc(100% + 2px);
  left: -1px;
  border: none;
  border-radius: 0 0 10px 10px;
  background-color: var(--overlay2);
  transition: all, 250ms;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-65%);
}

#axis-drop-down-list.expanded {
  visibility: visible;
  transform: translateY(-5%);
  pointer-events: all;
  border: 1px solid var(--red);
  opacity: 100;
}

.axis-drop-down-item:hover {
  background-color: var(--background-highlight);
  cursor: pointer;
}

.axis-drop-down-item.current {
  color: black;
  background-color: var(--red);
}

#ship-overlay-ship-container {
  margin: 0.5vh auto 1vh;
  height: 60%;
  width: 95%;
}

.overlay-ship {
  height: calc(20% - 1vh);
  width: 90%;
  margin: 1vh auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
}

.overlay-ship-text {
  flex: 2;
  font-size: clamp(1.2rem, 1.5vw, 2.4rem);
  font-weight: 600;
  text-align: start;
}

.temp-ship-img {
  flex: 4;
  height: 75%;
  background-color: white;
  transition: all, 250ms;
}

#placer-btn {
  margin: 1vh auto 0;
}

.temp-ship-img:hover {
  scale: 1.1;
  cursor: pointer;
}

.temp-ship-img.selected {
  scale: 0.92;
}
