#ship-placement-overlay {
  max-height: 750px;
  min-height: 350px;
  max-width: 450px;
  grid-area: 5 / 1 / 17 / 6;
  position: relative;
  left: 100%;
  transition: all, 2s;
  visibility: hidden;
  border-radius: 10px 0 0 10px;
  background: var(--overlay1);
  text-align: center;
}

#ship-placement-overlay.visible {
  transform: translateX(-100%);
  visibility: visible;
}

#ship-overlay-header {
  font-size: clamp(1.75rem, 2.5vw, 3.6rem);
  font-weight: 700;
  margin: 2vh auto 1vh;
}

#ship-axis-div {
  position: relative;
  bottom: -1.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1vw;
}

#ship-axis-header {
  font-size: clamp(1.2rem, 1.5vw, 2.4rem);
  font-weight: 600;
}

#axis-drop-down-container {
  position: relative;
}

#axis-selected {
  margin: 1vh 1vw;
}

#axis-drop-down-list {
  visibility: hidden;
  position: absolute;
  inset: 50% 0 0;
  height: 0;
  width: 80%;
  margin: 0 auto;
  background-color: var(--overlay2);
  border: 1px solid var(--red);
  border-radius: 0 0 10px 10px;
  transition: all, 250ms;
  pointer-events: none;
}

#axis-drop-down-list.expanded {
  visibility: visible;
  height: fit-content;
  transform: translateY(15px);
  opacity: 100;
  pointer-events: all;
  scale: 1.1;
}

.axis-drop-down-item {
  font-weight: 400;
  padding: 5px 0;
}

.axis-drop-down-item:hover {
  background-color: var(--background-highlight);
  cursor: pointer;
}

.axis-drop-down-item:nth-of-type(1) {
  border-bottom: 1px solid var(--red);
}

.axis-drop-down-item:nth-of-type(2) {
  border-radius: 0 0 10px 10px;
}

.axis-drop-down-item.current {
  color: black;
  background-color: var(--red);
}

#ship-overlay-ship-container {
  margin: 2vh auto 1vh;
  height: 60%;
  width: 95%;
}

.overlay-ship {
  height: calc(20% - 1vh);
  width: 90%;
  margin: 1vh auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay-ship-text {
  flex: 2;
  font-size: clamp(1.2rem, 1.5vw, 2.4rem);
  font-weight: 600;
  text-align: start;
}

.temp-ship-img {
  flex: 3;
  height: 75%;
  background-color: white;
}

#placer-btn {
  margin: 1vh auto 0;
}

  /* height: 0; */
  /* width: 100px; */
  /* position: absolute; */
  /* top: 1em; */
  /* list-style: none; */
  /* text-align: center; */
  /* margin: 0; */
  /* padding: 0; */
  /* border-top: none; */
  /* opacity: 0; */
