#ship-placement-overlay {
  grid-area: 5 / 26 / 28 / 33;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
  right: -100%;
  visibility: hidden;
  opacity: 0;
  border-radius: 10px 0 0 10px;
  background: var(--overlay1);
  text-align: center;
  transition: all, 2s;
}

#ship-placement-overlay.visible {
  transform: translateX(-100%);
  opacity: 1;
  visibility: visible;
}

#ship-overlay-header {
  font-size: 3.6rem;
}

#ship-axis-div {
  width: fit-content;
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 1.5em auto 1em;
}

#axis-drop-down-container {
  position: relative;
}

#axis-drop-down-list {
  height: 0;
  width: 100px;
  background-color: var(--overlay2);
  position: absolute;
  top: 1em;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 1px solid var(--red);
  border-top: none;
  border-radius: 0 0 10px 10px;
  transition: all, 250ms;
  opacity: 0;
  pointer-events: none;
}

#axis-drop-down-list.expanded {
  height: fit-content;
  transform: translateY(15px);
  opacity: 100;
  pointer-events: all;
  scale: 1.1;
}

.axis-drop-down-item {
  font-weight: 400;
  padding: 5px 0;
}

.axis-drop-down-item:hover {
  background-color: var(--background-highlight);
  cursor: pointer;
}

.axis-drop-down-item:nth-of-type(1) {
  border-bottom: 1px solid var(--red);
}

.axis-drop-down-item:nth-of-type(2) {
  border-radius: 0 0 10px 10px;
}

.axis-drop-down-item.current {
  color: black;
  background-color: var(--red);
}

#ship-overlay-ship-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto 10px;
}

.overlay-ship {
  width: 90%;
  margin: auto 25px;
  display: flex;
  gap: 5px;
}

.overlay-ship-text {
  font-size: 2rem;
  text-align: left;
  flex-basis: 25%;
}

.temp-ship-img {
  width: 100%;
  background: white;
  flex-basis: 75%;
  transition: all, 200ms;
}

.temp-ship-img.hidden {
  display: none;
}

.temp-ship-img:hover {
  scale: 1.1;
}

.temp-ship-img.selected {
  scale: 0.92;
}

#placer-btn {
  margin: auto auto 25px;
}
