.stats-board {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--overlay1);
  border-radius: 10px;
  transition: all, 1.5s;  
}

#player-stats {
  grid-area: 2 / 27 / 15 / 32;
  position: relative;
  top: -200%;
}

#enemy-stats {
  grid-area: 19 / 27 / 32 / 32;
  position: relative;
  bottom: -200%;
}


#player-stats.visible {
  transform: translateY(200%);
}

#enemy-stats.visible {
  transform: translateY(-200%);
}

.fleet-header {
  font-size: 2.8rem;
  text-align: center;
  margin-top: 50px;
}

.fleet-content {
  font-size: 2.4rem;
}

.fleet-content > div {
  margin: 50px 25px;
}
