.stats-board {
  width: clamp(200px, 25vw, 400px);
  background-color: var(--overlay1);
  border-radius: 10px;
  transition: all, 1.5s;  
  position: relative;
  right: clamp(20px, 1vw, 50px);
  visibility: hidden;
}

.stats-board.visible {
  visibility: visible;
}

#player-stats {
  grid-area: 1 / 3 / 9 / 6;
  position: relative;
  bottom: 200%;
}

#enemy-stats {
  grid-area: 10 / 3 / 18 / 6;
  position: relative;
  top: 200%;
}

#player-stats.visible {
  transform: translateY(200%);
}

#enemy-stats.visible {
  transform: translateY(-200%);
}

.fleet-header {
  font-size: 2.8rem;
  text-align: center;
  margin-top: clamp(20px, 2.5vh, 50px);
}

.fleet-content {
  height: calc(75%);
  width: 90%;
  font-size: 2.4rem;
  margin: clamp(25px, 4.5vh, 50px) auto 0;
}

.ship-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh auto;
}

.fleet-ship-header {
  flex: 2;
  font-size: clamp(1.2rem, 1.5vw, 2.4rem);
  font-weight: 600;
  text-align: start;
}
