:root {
  --mantle: #181825;
  --mauve: #cba6f7;
  --maroon: #eba0ac;
  --red: #f38ba8;
  --text: #cdd6f4;
  --overlay1: #222235;
  --overlay2: #313244;
  --background-highlight: #42445e;
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--mantle);
  color: var(--text);
  overflow: hidden;
}

h1 {
  font-size: 5rem;
}

#title-header {
  width: fit-content;
  margin: 30px auto 10px;
}

#container {
  width: 90vw;
  height: 90vh;
  display: flex;
  margin: auto 25px auto auto;
}

#gameboard-container, #stats-container {
  display: flex;
  justify-content: space-evenly;
}

#gameboard-container {
  flex-basis: 75%;
  height: 70%;
  margin: clamp(50px, 5%, 100px) auto 50px 10px;
}

#stats-container {
  height: 90%;
  flex-basis: 25%;
  flex-direction: column;
  gap: 30px;
  margin: auto;
  position: relative;
}

.board {
  width: clamp(380px, 40%, 520px);
  height: clamp(380px, 65%, 520px);
  display: grid;
  grid-template: repeat(10, 1fr)/ repeat(10, 1fr);
  margin: auto 25px;
  border-radius: 10px;
  overflow: hidden;
}

#player-map {
  border: 1px solid var(--mauve);
}

#enemy-map {
  border: 1px solid var(--maroon);
}

.cell {
  background: transparent;
  padding: 5px;
}

#player-map > .cell {
  border: 1px solid var(--mauve);
}

#enemy-map > .cell {
  border: 1px solid var(--maroon);
}

.stats-board {
  background-color: var(--overlay1);
  width: 75%;
  height: 49%;
  margin-left: auto;
  border-radius: 10px;
  transition: all, 250ms;
}

#player-stats[data-active="false"] {
  transform: translateY(-500%);
}

#enemy-stats[data-active="false"] {
  transform: translateY(500%);
}

.fleet-header {
  font-size: 2rem;
  text-align: center;
}

#ship-placement-overlay {
  position: absolute;
  right: -45px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: clamp(390px, calc(100% + 45px), 590px);
  height: 800px;
  margin: auto;
  border-radius: 10px 0 0 10px;
  background: var(--overlay1);
  text-align: center;
  transition: all, 250ms;
}

#ship-placement-overlay[data-active="false"] {
  transform: translateX(500%);
}

#ship-overlay-header {
  font-size: 3.6rem;
}

#ship-axis-div {
  width: fit-content;
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 1.5em auto 1em;
}

#axis-drop-down-container {
  position: relative;
}

#axis-selected {
  width: 100px;
  color: var(--text);
  background-color: var(--overlay2);
  border: 1px solid var(--red);
  border-radius: 10px;
  padding: 10px;
  outline: none;
  transition: all, 250ms;
}

#axis-selected:hover  {
  scale: 1.1;
  background-color: var(--background-highlight);
  cursor: pointer;
}

#axis-selected:focus {
  scale: 1.1;
}

#axis-drop-down-list {
  height: 0;
  width: 100px;
  background-color: var(--overlay2);
  position: absolute;
  top: 1em;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 1px solid var(--red);
  border-top: none;
  border-radius: 0 0 10px 10px;
  transition: all, 250ms;
  opacity: 0;
  pointer-events: none;
}

#axis-drop-down-list.expanded {
  height: fit-content;
  transform: translateY(15px);
  opacity: 100;
  pointer-events: all;
  scale: 1.1;
}

.axis-drop-down-item {
  font-weight: 400;
  padding: 5px 0;
}

.axis-drop-down-item:hover {
  background-color: var(--background-highlight);
  cursor: pointer;
}

.axis-drop-down-item:nth-of-type(1) {
  border-bottom: 1px solid var(--red);
}

.axis-drop-down-item:nth-of-type(2) {
  border-radius: 0 0 10px 10px;
}

.axis-drop-down-item.current {
  color: black;
  background-color: var(--red);
}

#ship-overlay-ship-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto 10px;
}

.overlay-ship {
  width: 90%;
  margin: auto 25px;
  display: flex;
  gap: 5px;
}

.overlay-ship-text {
  font-size: 2rem;
  text-align: left;
  flex-basis: 25%;
}

.temp-ship-img {
  width: 100%;
  background: white;
  flex-basis: 75%;
}
