:root {
  --mantle: #181825;
  --mauve: #cba6f7;
  --maroon: #eba0ac;
  --red: #f38ba8;
}

body {
  background: var(--mantle);
  overflow: hidden;
}

#gameboard-container {
  width: 80vw;
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  margin: 12.5% auto;
}

.board {
  display: grid;
  grid-template: repeat(10, 1fr)/ repeat(10, 1fr);
  margin: auto 25px;
  border-radius: 10px;
  overflow: hidden;
}

#player-map {
  width: clamp(480px, 40%, 620px);
  height: clamp(480px, 65%, 620px);
  border: 1px solid var(--mauve);
}

#enemy-map {
  margin-top: 0;
  width: clamp(200px, 40%, 340px);
  height: clamp(200px, 85%, 340px);
  border: 1px solid var(--maroon);
}

.cell {
  background: transparent;
  padding: 5px;
}

#player-map > .cell {
  border: 1px solid var(--mauve);
}

#enemy-map > .cell {
  border: 1px solid var(--maroon);
}
