:root {
  --mantle: #181825;
  --mauve: #cba6f7;
  --mauve-ship: #b27df2;
  --mauve-hit: #6c4799;
  --maroon: #eba0ac;
  --red: #f38ba8;
  --red-hit: #934f63;
  --text: #cdd6f4;
  --overlay1: #222235;
  --overlay2: #313244;
  --background-highlight: #42445e;
  font-size: 10px;
}
